<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>5.3.2 列表渲染-数组更新</title>
</head>
<style>
  [v-cloak] {
    display: none;
  }
</style>

<body>
  <div id="app" v-cloak>
    <!-- 数组更新 -->
    <ul>
      <li v-for="(book, index) of books" :key="index">
        {{index}}--{{book.name}}--{{book.id}}
      </li>
    </ul>
    <button @click="push">push数组</button>
    <button @click="pop">pop数组</button>
    <button @click="shift">shift数组</button>
    <button @click="unshift">unshift数组</button>
    <button @click="spliceAdd">splice添加数组</button>
    <button @click="spliceReplace">splice替换数组</button>
    <button @click="spliceDelete">splice删除数组</button>
    <button @click="sortobject">数组对象排序</button>
    <button @click="setfilter">过滤数组</button>
    <div>
      <span>{{newdata}}</span>
      <button @click="setSlice">返回选定的数组</button>
    </div>
    
    <div>
      <span v-for="(number, index) in numbers">{{number}} </span>
      <div>
        <button @click="sortup">数字升序</button>
        <button @click="sortdown">数字降序</button>
        <button @click="random">随机排序</button>
        <button @click="reverse">数组反转</button>
        <button @click="setconcat">数组链接</button>
      </div>
    </div>
    <div>
      <div>{{stringdata}}</div>
      <div>{{newstringdata}}</div>
      <div>{{newstring}}</div>
      <button @click="split">分割字符串为数组</button>
      <button @click="stringreseve">反转字符串数组</button>
      <button @click="join">字符串转数组</button>
    </div>

  </div>

</body>
<script src="../vue.js"></script>
<script>
  Vue.config.devtools = false;
  Vue.config.productionTip = false;
  /*
    5.3.2 数组更新
    vue包含了一组观察数组变异的方法，他们改变数组也会触发视图更新
    变异方法（会改变调用的原始数组）
    push() 方法可向数组的末尾添加一个或多个元素，并返回新的长度。
    pop() 方法用于删除并返回数组的最后一个元素。
    shift() 方法用于把数组的第一个元素从其中删除，并返回第一个元素的值。
    unshift() 方法可向数组的开头添加一个或更多元素，并返回新的长度。
    splice() 方法向/从数组中添加/删除项目，然后返回被删除的项目。
      splice(index,len,[item])它也可以用来替换/删除/添加数组内某一个或者几个值（该方法会改变原始数组）
        index:数组开始下标       
        len: 替换/删除的长度,如果设置为 0，则不会删除项目。       
        item:替换的值，删除操作的话 item为空
    //TODO: 数组排序
    sort() 方法用于对数组的元素进行排序。
      排序顺序可以是字母或数字，并按字母升序
      !注意：当数字是按字母顺序排列时"40"将排在"5"前面。
      使用数字排序，你必须通过一个函数作为参数来调用，函数指定数字是按照升序还是降序排列
      https://blog.csdn.net/sinat_32546159/article/details/61618623
      https://www.cnblogs.com/xljzlw/p/3694861.html
    reverse() 方法用于颠倒数组中元素的顺序。

    替换数组(不会改变原数组)
    filter() 方法创建一个新的数组，新数组中的元素是通过检查指定数组中符合条件的所有元素。
      注意：以下变动的数组中，vue是不能检测的，filter无法过滤，书P42
        * 通过索引直接设置项，比如：app.books[3]={...},解决方法，通过Vue.set设置修改值，或者使用splice
        * 修改数组的长度,比如：app.books.length=1，解决方法，使用splice
    concat() 方法用于连接两个或多个数组。添加的是数组中的元素，而不是数组。
    slice() 方法可从已有的数组中返回选定的元素。
      注释：您可使用负值从数组的尾部选取元素。
      注释：如果 end 未被规定，那么 slice() 方法会选取从 start 到数组结尾的所有元素。
    其他
    split() 方法用于把一个字符串分割成字符串数组。
    join()  方法用于把数组中的所有元素放入一个字符串。元素是通过指定的分隔符进行分隔的。
  */
  //自定义升序
  var compare = (prpo) => {
    return function (obj1, obj2) {
      var val1 = obj1[prpo];
      var val2 = obj2[prpo];
      if (val1 < val2) {
        return -1;
      } else if (val1 > val2) {
        return 1;
      } else {
        return 0;
      }
    }
  }
  //字符串转数字，升序
  var compare2 = (prop) => {
    return function (obj1, obj2) {
      var val1 = obj1[prop];
      var val2 = obj2[prop];
      if (!isNaN(Number(val1)) && !isNaN(Number(val2))) {
        val1 = Number(val1);
        val2 = Number(val2);
      }
      if (val1 < val2) {
        return -1;
      } else if (val1 > val2) {
        return 1;
      } else {
        return 0;
      }
    }
  }
  //随机排序
  var sortRandom = () => {
    return Math.random() < 0.5 ? 1 : -1;
  }
  var app = new Vue({
    el: '#app',
    data: {
      books: [{
        name: 'vue实战',
        id: '1'
      }, {
        name: 'javascript权威指南',
        id: '5'
      }, {
        name: 'd高级程序设计',
        id: '10'
      }, {
        name: 'css揭秘',
        id: '2'
      }],
      user: {
        name: 'aresn',
        gender: '男',
        age: 26
      },
      numbers: [40, 100, 1, 5, 25, 10],
      numbers2: [40, 100, 1, 5, 25, 10],
      newdata: {},
      stringdata: '我是一个字符串',
      newstringdata: [],
      newstring: ''
    },
    methods: {
      push() {
        this.books.push({
          name: 'css揭秘'
        })
      },
      pop() {
        this.books.pop()
      },
      shift() {
        this.books.shift()
      },
      unshift() {
        this.books.unshift({
          name: 'css揭秘'
        })
      },
      spliceAdd() {
        //在下标为1处，添加一项数据
        this.books.splice(1, 0, {
          name: '新添加的'
        })
      },
      spliceReplace() {
        //替换起始下标为1，长度为1的一个值为新的数据，
        // this.books.splice(1,1,{name:'被替换的'})        
        //替换起始下标为1，长度为2的两个值为新的数据，
        this.books.splice(1, 2, {
          name: '被替换的'
        })
      },
      spliceDelete() {
        //删除起始下标为1，长度为1的值（如果设为0，则数组不变）
        this.books.splice(1, 1)
      },
      sortobject() {
        this.books.sort(compare2('id'))
      },
      sortup() {
        //升序
        this.numbers.sort((a, b) => {
          // console.log(a)
          // console.log(b)
          // console.log('----')
          return a - b
        });
      },
      sortdown() {
        //降序
        this.numbers.sort((a, b) => {
          return b - a
        });
      },
      random() {
        this.numbers.sort(sortRandom)
      },
      reverse() {
        this.numbers.reverse();
      },
      setfilter() {
       this.books = this.books.filter((item)=>{
          // console.log(item.name.match(/javascript/))
          return item.name.match(/javascript/)
        })
      },
      setconcat() {
        this.numbers = this.numbers.concat(this.numbers2)
      },
      setSlice() {
       this.newdata = this.books.slice(1,2)
      },
      split() {
        // console.log(this.stringdata)
        // console.log(this.stringdata.split(''))
        this.newstringdata = this.stringdata.split('')
      },
      stringreseve() {
        this.newstringdata.reverse()
      },
      join() {
       this.newstring = this.newstringdata.join('')
      }
    }
  })
</script>

</html>